<div class="d-flex justify-content-center add-remote-instance">
  <div class="col-8 list-group tab-pane">
    <form class="content" #addInstanceForm="ngForm" (ngSubmit)="onSubmit(addInstanceForm)">
      <div class="row">
        <div class="col-10 offset-2 input-wrapper">
          <div class="row header">
            <div class="col-12">
              <p>Add remote {{instance.name}} Instance</p>
            </div>
          </div>
          <div class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="*Hostname"
                       name="Hostname"
                       [(ngModel)]="remoteInstanceCredentials.address"
                       #hostname="ngModel"
                       [class.custom-form-input--not-valid]="hostname?.errors && isSubmitted"
                       required>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--hostname">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="Name (default: Hostname)"
                       name="Name"
                       [(ngModel)]="remoteInstanceCredentials.name"
                       #name="ngModel">
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--name">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="Port"
                       [placeholder] = "'Port (default: ' + instance.port + ')'"
                       name="Port"
                       [(ngModel)]="remoteInstanceCredentials.port"
                       #port="ngModel">
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--port">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <div
                  class="custom-form-select-wrapper"
                  [class.custom-form-select-wrapper--not-valid]="snmpVersion?.errors && isSubmitted"
                >
                  <select
                    class="custom-form-select form-control"
                    name="snmpVersionSelect"
                    id="snmpVersionSelect"
                    [(ngModel)]="remoteInstanceCredentials.snmpVersion"
                    #snmpVersion="ngModel"
                    [class.custom-form-select--not-selected]="!remoteInstanceCredentials.snmpVersion"
                    required
                  >
                    <option value="">*Please select the SNMP version</option>
                    <option value="1">1</option>
                    <option value="2">2c</option>
                    <option value="3">3</option>
                  </select>
                </div>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-version">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion && remoteInstanceCredentials.snmpVersion !== '3'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="Community"
                       [placeholder] = "'Community (default: public)'"
                       name="Community"
                       [(ngModel)]="remoteInstanceCredentials.snmpCommunity">
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-community">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <div
                  class="custom-form-select-wrapper"
                  [class.custom-form-select-wrapper--not-valid]="snmpSecurityLevel?.errors && isSubmitted"
                >
                  <select
                    class="custom-form-select form-control"
                    name="snmpSecurityLevelSelect"
                    id="snmpSecurityLevelSelect"
                    #snmpSecurityLevel="ngModel"
                    [(ngModel)]="remoteInstanceCredentials.snmpSecurityLevel"
                    [class.custom-form-select--not-selected]="!remoteInstanceCredentials.snmpSecurityLevel"
                    required
                  >
                    <option value="">*Please select the SNMP security level</option>
                    <option value="noAuthNoPriv">noAuthNoPriv</option>
                    <option value="authNoPriv">authNoPriv</option>
                    <option value="authPriv">authPriv</option>
                  </select>
                </div>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-level">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3' && (remoteInstanceCredentials.snmpSecurityLevel === 'authNoPriv' || remoteInstanceCredentials.snmpSecurityLevel === 'authPriv')" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <div
                  class="custom-form-select-wrapper"
                  [class.custom-form-select-wrapper--not-valid]="snmpAuthProtocol?.errors && isSubmitted"
                >
                  <select
                    class="custom-form-select form-control"
                    name="snmpAuthProtocolSelect"
                    id="snmpAuthProtocolSelect"
                    #snmpAuthProtocol="ngModel"
                    [(ngModel)]="remoteInstanceCredentials.snmpAuthProtocol"
                    [class.custom-form-select--not-selected]="!remoteInstanceCredentials.snmpAuthProtocol"
                    required
                  >
                    <option value="">*Please select the SNMP authentication protocol</option>
                    <option value="MD5">MD5</option>
                    <option value="SHA">SHA</option>
                    <option value="SHA224">SHA-224</option>
                    <option value="SHA256">SHA-256</option>
                    <option value="SHA384">SHA-384</option>
                    <option value="SHA512">SHA-512</option>
                  </select>
                </div>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-auth-protocol">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3' && (remoteInstanceCredentials.snmpSecurityLevel === 'authNoPriv' || remoteInstanceCredentials.snmpSecurityLevel === 'authPriv')" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="*Username"
                       name="Username"
                       [(ngModel)]="remoteInstanceCredentials.username"
                       #username="ngModel"
                       [class.custom-form-input--not-valid]="username?.errors && isSubmitted"
                       required>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-username">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3' && (remoteInstanceCredentials.snmpSecurityLevel === 'authNoPriv' || remoteInstanceCredentials.snmpSecurityLevel === 'authPriv')" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="password" class="custom-form-input form-control" placeholder="*Password"
                       name="Password"
                       [(ngModel)]="remoteInstanceCredentials.password"
                       #password="ngModel"
                       [class.custom-form-input--not-valid]="password?.errors && isSubmitted"
                       required>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-auth-password">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3' && remoteInstanceCredentials.snmpSecurityLevel === 'authPriv'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <div
                  class="custom-form-select-wrapper"
                  [class.custom-form-select-wrapper--not-valid]="snmpPrivProtocol?.errors && isSubmitted"
                >
                  <select
                    class="custom-form-select form-control"
                    name="snmpPrivProtocolSelect"
                    id="snmpPrivProtocolSelect"
                    #snmpPrivProtocol="ngModel"
                    [(ngModel)]="remoteInstanceCredentials.snmpPrivProtocol"
                    [class.custom-form-select--not-selected]="!remoteInstanceCredentials.snmpPrivProtocol"
                    required
                  >
                    <option value="">*Please select the SNMP privacy protocol</option>
                    <option value="DES">DES</option>
                    <option value="AES">AES</option>
                    <option value="AES192">AES-192</option>
                    <option value="AES256">SHA-256</option>
                  </select>
                </div>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-priv-protocol">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3' && remoteInstanceCredentials.snmpSecurityLevel === 'authPriv'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="password" class="custom-form-input form-control" placeholder="*Privacy Password"
                       name="PrivacyPassword"
                       [(ngModel)]="remoteInstanceCredentials.snmpPrivPassword"
                       #privacyPassword="ngModel"
                       [class.custom-form-input--not-valid]="privacyPassword?.errors && isSubmitted"
                       required>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-priv-password">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name === 'SNMP' && remoteInstanceCredentials.snmpVersion === '3'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="Context Name"
                       name="ContextName"
                       [(ngModel)]="remoteInstanceCredentials.snmpContext"
                       #context="ngModel">
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--snmp-context">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name !== 'SNMP'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="text" class="custom-form-input form-control" placeholder="*Username"
                       name="Username"
                       [(ngModel)]="remoteInstanceCredentials.username"
                       #username="ngModel"
                       [class.custom-form-input--not-valid]="username?.errors && isSubmitted"
                       required>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--username">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="instance?.name !== 'SNMP'" class="input-wrapper">
            <div class="row d-flex align-items-center">
              <div class="col-9">
                <input type="password" class="custom-form-input form-control" placeholder="*Password"
                       name="Password"
                       [(ngModel)]="remoteInstanceCredentials.password"
                       #password="ngModel"
                       [class.custom-form-input--not-valid]="password?.errors && isSubmitted"
                       required>
              </div>
              <div class="app-tooltip-wrapper">
                <div class="app-tooltip app-tooltip--remote-instance app-tooltip--password">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12 d-flex align-items-center">
              <button type="submit" class="not-checked-button">Add instance</button>
              <div *ngIf="errorMessage && isSubmitted && addInstanceForm.valid">*{{ errorMessage }}</div>
              <div *ngIf="isSubmitted && !addInstanceForm.valid">Fields marked with an asterisk (*) are required</div>
              <div *ngIf="isLoading">
                <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
