<table class="table table-striped instance-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Services</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-i="index" let-instance="$implicit" [ngForOf]="allInstances">
      <tr style="height: 100%;">
        <td>
          <span *ngIf="instance.collapsed; else elseBlock" class="fa fa-chevron-right pointer" (click)="toggleCollapse(i)"></span>
          <ng-template #elseBlock>
            <span (click)="toggleCollapse(i)" class="fa fa-chevron-down pointer"></span>
          </ng-template>
        </td>
        <td [attr.aria-expanded]="instance.collapsed">{{ instance.name }}</td>
        <td>{{ instance.services?.length }}</td>
        <td>
          <span class="fa fa-trash-o instance-trash" (click)="disableInstance(i, instance)"></span>
        </td>
      </tr>
      <tr #collapse="ngbCollapse" *ngIf="!instance.collapsed" [(ngbCollapse)]="instance.collapsed">
        <td colspan="4">
          <table class="table instance-table subinstance-table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Endpoint</th>
                <th>Region</th>
                <th>Engine</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <ng-template ngFor let-i="index" let-service="$implicit" [ngForOf]="instance.services">
                <tr>
                  <td>{{ i+1 }}</td>
                  <td>{{ service.type }}</td>
                  <td>{{ service.address }}{{service.port ? ":"+service.port : ""}}</td>
                  <td>{{ service.region }}</td>
                  <td>{{ service.engine }} {{service.engine_version}}</td>
                  <td>
                    <span class="fa fa-trash pointer instance-trash" (click)="disableService(instance.name, service, i)"></span>
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </td>
      </tr>
    </ng-template>
  </tbody>
</table>
<div class="row justify-content-md-center" *ngIf="isLoading">
  <div>
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw loading"></i>
  </div>
</div>
<div *ngIf="errorMessage" class="alert alert-warning w-75 mx-auto m-2" role="alert">
  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
  {{ errorMessage }}
</div>
